## Practice in Class with Sergio

First commands with Python on Jupyter

INTRO TO STINGS

In [2]:
variable_string = "Hello"

In [3]:
variable_int = 5

In [8]:
# convert string into integer by writing int() and adding the string to be converted inside the parenthasis. The variable to be converted to an int must be a number wraped around "". Cannot convert "a_word" to an int.

In [9]:
number = "30"
print(len(number))

casted_number = int(number)
print(type(casted_number))

2
<class 'int'>

In [ ]:
# output looks the same but one is a float and one is a sting that looks like a float.

In [11]:
number = 1/3
print(type(number))
print(number)

casted_number = str(number)
print(type(casted_number))
print(casted_number)

<class 'float'>
0.3333333333333333
<class 'str'>
0.3333333333333333

In [12]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [13]:
# variable_name.replace("old", "new")

In [16]:
my_string = "Barcelona Rocks!"

In [18]:
my_string.replace ("a", "?")
#if were to print my_sting now, nothing would change because the replace function musst be saved under a new variable. See below

'B?rcelon? Rocks!'

In [20]:
my_modified_string = my_string.replace ("a", "?")
print(my_modified_string)

B?rcelon? Rocks!

In [ ]:
# {} is a placeolder. behind format, must specify that the placeholder should involve. If severals placeholders, need to separate the variables with comma behind format. Ex. .format('a', '2', 3)

In [24]:
secret = '{} is cool'.format("python")
print(secret)

python is cool

In [25]:
name = "Talia"
print("my name is {} and I am {} years old".format(name, 24))

my name is Talia and I am 24 years old

In [34]:
name = "Talia"
print("my name is {1} and I am {0} years old".format(24, name))

my name is Talia and I am 24 years old

In [26]:
# string_used_here_will_be_the_separator.join(variable_name containing the info that should be joined)

In [29]:
lala = ["Talia", "Dorian", "Matan"]
', '.join(lala)

'Talia, Dorian, Matan'

In [30]:
# can also join numbers or str with + symbol

In [32]:
cool_python_libs = "pandas" + ", " + "numpy" + ", " + "request"
print(cool_python_libs)

pandas, numpy, request

In [35]:
a = 2.1
b = 3.4
print(str(a) + str(b) + str(a * b))

2.13.47.14

In [36]:
print(a + b + a*b)

12.64

In [38]:
print(str(a) + " ", str(b) + " ", str(a * b))

2.1  3.4  7.14

In [41]:
mixed_case = "PyTHon HaCKEr"
print(mixed_case.upper())
print(mixed_case.lower())
print(mixed_case.title())

PYTHON HACKER
python hacker
Python Hacker

In [42]:
# .split() to separate all words in one variable into separate strings

In [44]:
sentance = "three different words"
print (sentance)
words = sentance.split()
print(words)

three different words
['three', 'different', 'words']

In [58]:
new_sentance = "hello, hello, hello"
new_sentance.split(",")
print(new_sentance)

hello, hello, hello

In [64]:
ugly = "thIS LOoks UglY"
pretty = ugly.lower().strip().replace("ugly", "pretty")
print(pretty)

this looks pretty

INTRO TO NUMBERS

In [66]:
my_int = 6
print('value: {}, type: {}'.format(my_int, type(my_int)))

value: 6, type: <class 'int'>

In [67]:
my_float = float(my_int)
print('value: {}, type: {}'.format(my_float, type(my_float)))

value: 6.0, type: <class 'float'>

In [68]:
print(1/1)
print(6/5)

1.0
1.2

In [70]:
val = 0.1 + 0.1 + 0.1
print(val == 0.3)
print(val)

False
0.30000000000000004

In [ ]:
# // whole part of devision. 7/5 is 1.xyz (leaves out the decimal)

In [72]:
7//5

1

In [ ]:
# % the remainder after devision.

In [74]:
7 % 5

2

In [76]:
# to the power (exponential)

In [77]:
2 ** 3

8

In [81]:
from decimal import Decimal

from float = Decimal (0.1)
from str = Decimal ('0,1')
print('from floeat: {}/nfrom string: {}')

SyntaxError: invalid syntax (<ipython-input-81-d032735de9ba>, line 3)

In [82]:
sum_of_decimals = my_decimal + my_decimal + my_decimal
print(sum_of_decimals == Decimal ('0.3'))
print(sum_of_decimals == 0.3)

NameError: name 'my_decimal' is not defined

In [85]:
val = '%.4f'%(1234567.456789)
print(val)
print(type(val))
val_in_float = 
print(val_in_float)

1234567.4568
<class 'str'>

NameError: name 'val_in_float' is not defined

REVIEW NUMBERS!!

Conditionals

In [86]:
java_is_not_cool = True
python_is_cool = True
password = 1234
print(bool(not java_is_not_cool or password and python_is_cool or empty list

SyntaxError: invalid syntax (<ipython-input-86-7bfb348b462c>, line 4)

In [87]:
true or true and true or false = true
true or false and false or true = true

NameError: name 'true' is not defined

In [88]:
# if only executes when statement is TRUE

In [ ]:
print("hello world for the repo")