## Practice in Class with Sergio

First commands with Python on Jupyter

INTRO TO STINGS

In [2]:
variable_string = "Hello"

In [3]:
variable_int = 5

In [8]:
# convert string into integer by writing int() and adding the string to be converted inside the parenthasis. The variable to be converted to an int must be a number wraped around "". Cannot convert "a_word" to an int.

In [9]:
number = "30"
print(len(number))

casted_number = int(number)
print(type(casted_number))

2
<class 'int'>

In [ ]:
# output looks the same but one is a float and one is a sting that looks like a float.

In [11]:
number = 1/3
print(type(number))
print(number)

casted_number = str(number)
print(type(casted_number))
print(casted_number)

<class 'float'>
0.3333333333333333
<class 'str'>
0.3333333333333333

In [12]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [13]:
# variable_name.replace("old", "new")

In [16]:
my_string = "Barcelona Rocks!"

In [18]:
my_string.replace ("a", "?")
#if were to print my_sting now, nothing would change because the replace function musst be saved under a new variable. See below

'B?rcelon? Rocks!'

In [20]:
my_modified_string = my_string.replace ("a", "?")
print(my_modified_string)

B?rcelon? Rocks!

In [ ]:
# {} is a placeolder. behind format, must specify that the placeholder should involve. If severals placeholders, need to separate the variables with comma behind format. Ex. .format('a', '2', 3)

In [24]:
secret = '{} is cool'.format("python")
print(secret)

python is cool

In [25]:
name = "Talia"
print("my name is {} and I am {} years old".format(name, 24))

my name is Talia and I am 24 years old

In [34]:
name = "Talia"
print("my name is {1} and I am {0} years old".format(24, name))

my name is Talia and I am 24 years old

In [26]:
# string_used_here_will_be_the_separator.join(variable_name containing the info that should be joined)

In [29]:
lala = ["Talia", "Dorian", "Matan"]
', '.join(lala)

'Talia, Dorian, Matan'

In [30]:
# can also join numbers or str with + symbol

In [32]:
cool_python_libs = "pandas" + ", " + "numpy" + ", " + "request"
print(cool_python_libs)

pandas, numpy, request

In [35]:
a = 2.1
b = 3.4
print(str(a) + str(b) + str(a * b))

2.13.47.14

In [36]:
print(a + b + a*b)

12.64

In [38]:
print(str(a) + " ", str(b) + " ", str(a * b))

2.1  3.4  7.14

In [41]:
mixed_case = "PyTHon HaCKEr"
print(mixed_case.upper())
print(mixed_case.lower())
print(mixed_case.title())

PYTHON HACKER
python hacker
Python Hacker

In [42]:
# .split() to separate all words in one variable into separate strings

In [44]:
sentance = "three different words"
print (sentance)
words = sentance.split()
print(words)

three different words
['three', 'different', 'words']

In [58]:
new_sentance = "hello, hello, hello"
new_sentance.split(",")
print(new_sentance)

hello, hello, hello

In [64]:
ugly = "thIS LOoks UglY"
pretty = ugly.lower().strip().replace("ugly", "pretty")
print(pretty)

this looks pretty

INTRO TO NUMBERS

In [66]:
my_int = 6
print('value: {}, type: {}'.format(my_int, type(my_int)))

value: 6, type: <class 'int'>

In [67]:
my_float = float(my_int)
print('value: {}, type: {}'.format(my_float, type(my_float)))

value: 6.0, type: <class 'float'>

In [68]:
print(1/1)
print(6/5)

1.0
1.2

In [70]:
val = 0.1 + 0.1 + 0.1
print(val == 0.3)
print(val)

False
0.30000000000000004

In [ ]:
# // whole part of devision. 7/5 is 1.xyz (leaves out the decimal)

In [72]:
7//5

1

In [ ]:
# % the remainder after devision.

In [74]:
7 % 5

2

In [76]:
# to the power (exponential)

In [77]:
2 ** 3

8

In [81]:
from decimal import Decimal

from float = Decimal (0.1)
from str = Decimal ('0,1')
print('from floeat: {}/nfrom string: {}')

SyntaxError: invalid syntax (<ipython-input-81-d032735de9ba>, line 3)

In [82]:
sum_of_decimals = my_decimal + my_decimal + my_decimal
print(sum_of_decimals == Decimal ('0.3'))
print(sum_of_decimals == 0.3)

NameError: name 'my_decimal' is not defined

In [85]:
val = '%.4f'%(1234567.456789)
print(val)
print(type(val))
val_in_float = 
print(val_in_float)

1234567.4568
<class 'str'>

NameError: name 'val_in_float' is not defined

REVIEW NUMBERS!!

Conditionals

In [86]:
java_is_not_cool = True
python_is_cool = True
password = 1234
print(bool(not java_is_not_cool or password and python_is_cool or empty list

SyntaxError: invalid syntax (<ipython-input-86-7bfb348b462c>, line 4)

In [87]:
true or true and true or false = true
true or false and false or true = true

NameError: name 'true' is not defined

In [88]:
# if only executes when statement is TRUE

In [ ]:
print("hello world for the repo")

FOR LOOPS

In [4]:
my_list = [1, 2, 3,4 , "python", "is", "neat"]
for item in my_list:
    print(item)
    
print("I am done")

1
2
3
4
python
is
neat
I am done

In [5]:
# we are creating the value item. First item = 1. once thats done, back to beginning. item = 2. once done with all itterations it will end by itself.

In [8]:
second_list = [1, 2, 3, 4]
big_sum= 0
for each_item in second_list:
    print(big_sum =+)

0
0
0
0

In [9]:
# break stops the loop. A way to get out of the loop. break needs to be indented

In [13]:
my_list = [1, 2, 1, 3,4 , "python", "is", "neat"]
for item in my_list:
    if item == "python":
        break
    print(item)

1
2
1
3
4

In [15]:
for item in my_list:
    if item == 1 or item == "python":
        continue 
    print(item)
    
print("")

2
3
4
is
neat

In [16]:
# continue = skip item

In [19]:
variable = "test"
type(variable)

for item in my_list:
    if isinstance(varibale, str)
    continue
print(item)

IndentationError: expected an indented block (<ipython-input-19-d235a494feef>, line 6)

In [20]:
# is instance(variable, type)

In [21]:
enumerate(my_list)

In [24]:
for i, val in enumerate(my_list):
    print('indey: {}, value: {}'.format(i, val))

indey: 0, value: 1
indey: 1, value: 2
indey: 2, value: 1
indey: 3, value: 3
indey: 4, value: 4
indey: 5, value: python
indey: 6, value: is
indey: 7, value: neat

In [23]:
# enumerate output is index and value of each element in a list

In [25]:
ex_list = [4, 5, 7, 8]
result = []
for index, value in enumerate(ex_list):
    print('index: {}, value: {}'.format(index, value))
    if index == 0:
        result.append(0)
        continue
    result.append(ex_list[index-1]+value)
print(result)

index: 0, value: 4
index: 1, value: 5
index: 2, value: 7
index: 3, value: 8
[0, 9, 12, 15]

In [26]:
# Dictionaries = Key : Value

In [27]:
# range(von, bis, steps)
range()

In [31]:
for index, value in enumerate(range(5,100, 10)):
    print(index, value)

0 5
1 15
2 25
3 35
4 45
5 55
6 65
7 75
8 85
9 95

In [32]:
# WHILE LOOOPS

In [35]:
data = "this", "is", "john"
i = len(data) -1
while i>=0:
    print(data[i])
    i -= 1

john
is
this

In [36]:
for item in reversed(data):
    print(item)

john
is
this

In [37]:
# zip (compress each of the elements to the minimum)

In [38]:
collection1 = ["a", "b", "c"]
collection2 = [3, 4, 5, 5, 5]
collection3 = ["true", "okay", "maybe", "next"]

for first, second, third in zip(collection1, collection2, collection3):
    print(first, second, third)

a 3 true
b 4 okay
c 5 maybe

In [ ]:
# Class exercise Level 1

In [57]:
numbers = range(2000, 3200)
solution = []
for i in numbers:
    if i % 7 == 0 and i % 5 != 0:
        solution.append(i)
print(solution)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [ ]:
# exercise two

In [91]:
n = 10
for j in range(n):
    print(j* "*")
for i in range(n-2, 0, -1):
    print(i* "*")

*
**
***
****
*****
******
*******
********
*********
********
*******
******
*****
****
***
**
*

In [96]:
t = input()

KeyboardInterrupt: Interrupted by user

In [93]:
#show input to user asking for password. repeat that untill he enters correct passowtd. once correct print message saying yourin

In [116]:
password = "sergio"
print("Enter Password here") 
p = input()
if p == password:
    print("Welcome to the dark side")
elif p!= password:
    print("Try again please")
p = input()

Enter Password here
d
Try again please
d

In [ ]:
password = "sergio"
print("Enter Password here") 
p = input()
if p == password:
    print("Welcome to the dark side")
elif p!= password:
    print("Try again please")
p = input()

In [133]:
password = "sergio"
count = 0
p = input()
while p == password and count<= 4:
    print("YAY! Your in")
    break
    if p != password and count<= 4:
        print("try again") 
        p = input()
        break

sergio
YAY! Your in

In [137]:
password = " "
my_password = "python"
repeats = 0
while password != my_password:
    password = input ("Enter password:" )
    repeats += 1
    if repeats >=3:
        print("wrong password")
        break

Enter password:serg
Enter password:python